{% extends 'base.html' %}


{% block header %}
<h1 id="playerName">{% block title %}{{playerName}}{% endblock %}</h1>
<div>
    <button type="button" onclick=surrender()>Surrender</button>
</div>
<hr>
<div class="log">
    
    <label for="chat">log:</label>
    <br>
    <textarea id="chat" cols="80" rows="10"></textarea><br>
    
</div>
<div class="popShop">
    <div class="popEvent">
        
    </div>
</div>
<hr>

{% endblock %}

{% block content %}
<section class="businessBoard">
    <table style="width: 100%;border: 1px solid;">
        <tr class="horizontal">
            <td id="b0">
                <div class="spaceDetails">
                    <div class="propertyGroup"></div>
                    <div class="propertyName"></div>
                    <div class="propertyPrice"></div>
                </div>
                <div class="playerSpace"></div>
                </div>
            </td>
            <td id="b1">
                <div class="spaceDetails">
                    <div class="propertyGroup"></div>
                    <div class="propertyName"></div>
                    <div class="propertyPrice"></div>
                </div>
                <div class="playerSpace"></div>
            </td>
            <td id="b2">
                <div class="spaceDetails">
                    <div class="propertyGroup"></div>
                    <div class="propertyName"></div>
                    <div class="propertyPrice"></div>
                </div>
                <div class="playerSpace"></div>
            </td>
            <td id="b3">
                <div class="spaceDetails">
                    <div class="propertyGroup"></div>
                    <div class="propertyName"></div>
                    <div class="propertyPrice"></div>
                </div>
                <div class="playerSpace"></div>
            </td>
            <td id="b4">
                <div class="spaceDetails">
                    <div class="propertyGroup"></div>
                    <div class="propertyName"></div>
                    <div class="propertyPrice"></div>
                </div>
                <div class="playerSpace"></div>
            </td>
            <td id="b5">
                <div class="spaceDetails">
                    <div class="propertyGroup"></div>
                    <div class="propertyName"></div>
                    <div class="propertyPrice"></div>
                </div>
                <div class="playerSpace"></div>
            </td>
            <td id="b6">
                <div class="spaceDetails">
                    <div class="propertyGroup"></div>
                    <div class="propertyName"></div>
                    <div class="propertyPrice"></div>
                </div>
                <div class="playerSpace"></div>
            </td>
            <td id="b7">
                <div class="spaceDetails">
                    <div class="propertyGroup"></div>
                    <div class="propertyName"></div>
                    <div class="propertyPrice"></div>
                </div>
                <div class="playerSpace"></div>
            </td>
            <td id="b8">
                <div class="spaceDetails">
                    <div class="propertyGroup"></div>
                    <div class="propertyName"></div>
                    <div class="propertyPrice"></div>
                </div>
                <div class="playerSpace"></div>
            </td>
            <td id="b9">
                <div class="spaceDetails">
                    <div class="propertyGroup"></div>
                    <div class="propertyName"></div>
                    <div class="propertyPrice"></div>
                </div>
                <div class="playerSpace"></div>
            </td>
            <td id="b10">
                <div class="spaceDetails">
                    <div class="propertyGroup"></div>
                    <div class="propertyName"></div>
                    <div class="propertyPrice"></div>
                </div>
                <div class="playerSpace"></div>
            </td>
        </tr>
        <tr class="vertical ">
            <td id="b39">
                <div class="spaceDetails">
                    <div class="propertyGroup"></div>
                    <div class="propertyName"></div>
                    <div class="propertyPrice"></div>
                </div>
                <div class="playerSpace"></div>
            </td>
            <td id="centerSpace" colspan="9" rowspan="9">
                <div>
                    <div id="Dice">X</div>
                    <button id="roll" type="button" onclick="rollDice()">Roll</button>
                    <button id="finishTurn" type="button" onclick="finishTurn()">Finish Turn</button>
                </div>
            </td>
            <td id="b11" class="vertical_right">
                <div class="spaceDetails">
                    <div class="propertyGroup"></div>
                    <div class="propertyName"></div>
                    <div class="propertyPrice"></div>
                </div>
                <div class="playerSpace"></div>
            </td>
        </tr>
        <tr class="vertical">
            <td id="b38">
                <div class="spaceDetails">
                    <div class="propertyGroup"></div>
                    <div class="propertyName"></div>
                    <div class="propertyPrice"></div>
                </div>
                <div class="playerSpace"></div>
            </td>

            <td id="b12">
                <div class="spaceDetails">
                    <div class="propertyGroup"></div>
                    <div class="propertyName"></div>
                    <div class="propertyPrice"></div>
                </div>
                <div class="playerSpace"></div>
            </td>
        </tr>
        <tr class="vertical">
            <td id="b37">
                <div class="spaceDetails">
                    <div class="propertyGroup"></div>
                    <div class="propertyName"></div>
                    <div class="propertyPrice"></div>
                </div>
                <div class="playerSpace"></div>
            </td>

            <td id="b13">
                <div class="spaceDetails">
                    <div class="propertyGroup"></div>
                    <div class="propertyName"></div>
                    <div class="propertyPrice"></div>
                </div>
                <div class="playerSpace"></div>
            </td>
        </tr>
        <tr class="vertical">
            <td id="b36">
                <div class="spaceDetails">
                    <div class="propertyGroup"></div>
                    <div class="propertyName"></div>
                    <div class="propertyPrice"></div>
                </div>
                <div class="playerSpace"></div>
            </td>

            <td id="b14">
                <div class="spaceDetails">
                    <div class="propertyGroup"></div>
                    <div class="propertyName"></div>
                    <div class="propertyPrice"></div>
                </div>
                <div class="playerSpace"></div>
            </td>
        </tr>
        <tr class="vertical">
            <td id="b35">
                <div class="spaceDetails">
                    <div class="propertyGroup"></div>
                    <div class="propertyName"></div>
                    <div class="propertyPrice"></div>
                </div>
                <div class="playerSpace"></div>
            </td>

            <td id="b15">
                <div class="spaceDetails">
                    <div class="propertyGroup"></div>
                    <div class="propertyName"></div>
                    <div class="propertyPrice"></div>
                </div>
                <div class="playerSpace"></div>
            </td>
        </tr>
        <tr class="vertical">
            <td id="b34">
                <div class="spaceDetails">
                    <div class="propertyGroup"></div>
                    <div class="propertyName"></div>
                    <div class="propertyPrice"></div>
                </div>
                <div class="playerSpace"></div>
            </td>

            <td id="b16">
                <div class="spaceDetails">
                    <div class="propertyGroup"></div>
                    <div class="propertyName"></div>
                    <div class="propertyPrice"></div>
                </div>
                <div class="playerSpace"></div>
            </td>
        </tr>
        <tr class="vertical">
            <td id="b33">
                <div class="spaceDetails">
                    <div class="propertyGroup"></div>
                    <div class="propertyName"></div>
                    <div class="propertyPrice"></div>
                </div>
                <div class="playerSpace"></div>
            </td>

            <td id="b17">
                <div class="spaceDetails">
                    <div class="propertyGroup"></div>
                    <div class="propertyName"></div>
                    <div class="propertyPrice"></div>
                </div>
                <div class="playerSpace"></div>
            </td>
        </tr>
        <tr class="vertical">
            <td id="b32">
                <div class="spaceDetails">
                    <div class="propertyGroup"></div>
                    <div class="propertyName"></div>
                    <div class="propertyPrice"></div>
                </div>
                <div class="playerSpace"></div>
            </td>

            <td id="b18">
                <div class="spaceDetails">
                    <div class="propertyGroup"></div>
                    <div class="propertyName"></div>
                    <div class="propertyPrice"></div>
                </div>
                <div class="playerSpace"></div>
            </td>
        </tr>
        <tr class="vertical">
            <td id="b31">
                <div class="spaceDetails">
                    <div class="propertyGroup"></div>
                    <div class="propertyName"></div>
                    <div class="propertyPrice"></div>
                </div>
                <div class="playerSpace"></div>
            </td>

            <td id="b19">
                <div class="spaceDetails">
                    <div class="propertyGroup"></div>
                    <div class="propertyName"></div>
                    <div class="propertyPrice"></div>
                </div>
                <div class="playerSpace"></div>
            </td>
        </tr>
        <tr class="horizontal">
            <td id="b30">
                <div class="spaceDetails">
                    <div class="propertyGroup"></div>
                    <div class="propertyName"></div>
                    <div class="propertyPrice"></div>
                </div>
                <div class="playerSpace"></div>
            </td>
            <td id="b29">
                <div class="spaceDetails">
                    <div class="propertyGroup"></div>
                    <div class="propertyName"></div>
                    <div class="propertyPrice"></div>
                </div>
                <div class="playerSpace"></div>
            </td>
            <td id="b28">
                <div class="spaceDetails">
                    <div class="propertyGroup"></div>
                    <div class="propertyName"></div>
                    <div class="propertyPrice"></div>
                </div>
                <div class="playerSpace"></div>
            </td>
            <td id="b27">
                <div class="spaceDetails">
                    <div class="propertyGroup"></div>
                    <div class="propertyName"></div>
                    <div class="propertyPrice"></div>
                </div>
                <div class="playerSpace"></div>
            </td>
            <td id="b26">
                <div class="spaceDetails">
                    <div class="propertyGroup"></div>
                    <div class="propertyName"></div>
                    <div class="propertyPrice"></div>
                </div>
                <div class="playerSpace"></div>
            </td>
            <td id="b25">
                <div class="spaceDetails">
                    <div class="propertyGroup"></div>
                    <div class="propertyName"></div>
                    <div class="propertyPrice"></div>
                </div>
                <div class="playerSpace"></div>
            </td>
            <td id="b24">
                <div class="spaceDetails">
                    <div class="propertyGroup"></div>
                    <div class="propertyName"></div>
                    <div class="propertyPrice"></div>
                </div>
                <div class="playerSpace"></div>
            </td>
            <td id="b23">
                <div class="spaceDetails">
                    <div class="propertyGroup"></div>
                    <div class="propertyName"></div>
                    <div class="propertyPrice"></div>
                </div>
                <div class="playerSpace"></div>
            </td>
            <td id="b22">
                <div class="spaceDetails">
                    <div class="propertyGroup"></div>
                    <div class="propertyName"></div>
                    <div class="propertyPrice"></div>
                </div>
                <div class="playerSpace"></div>
            </td>
            <td id="b21">
                <div class="spaceDetails">
                    <div class="propertyGroup"></div>
                    <div class="propertyName"></div>
                    <div class="propertyPrice"></div>
                </div>
                <div class="playerSpace"></div>
            </td>
            <td id="b20">
                <div class="spaceDetails">
                    <div class="propertyGroup"></div>
                    <div class="propertyName"></div>
                    <div class="propertyPrice"></div>
                </div>
                <div class="playerSpace"></div>
            </td>
        </tr>
    </table>
</section>
<hr>
<h3>Your Properties:</h3>
<hr>
<section class="propertyOwned">
    <div id="mediterraneanave" class="propertyCard">
        <div class="propertyCardTitle Purple">
            Title Deed
            <h3>Test Card</h3>
        </div>
        <div class="propertyCardDetails">
            <table class="propertyCardDetailsTable">
                <tr>
                    <td class="rentType"> Rent </td>
                    <td class="rentPrice">&#36;4</td>
                </tr>
                <tr>
                    <td class="rentType"> Rent w/ colorset </td>
                    <td class="rentPrice">&#36;4</td>
                </tr>
                <tr>
                    <td class="rentType"> Rent w/ H1 </td>
                    <td class="rentPrice">&#36;4</td>
                </tr>
                <tr>
                    <td class="rentType"> Rent w/ H2 </td>
                    <td class="rentPrice">&#36;4</td>
                </tr>
                <tr>
                    <td class="rentType"> Rent w/ H3 </td>
                    <td class="rentPrice">&#36;4</td>
                </tr>
                <tr>
                    <td class="rentType"> Rent w/ H4 </td>
                    <td class="rentPrice">&#36;4</td>
                </tr>
                <tr>
                    <td class="rentType"> Rent w/ Hotel </td>
                    <td class="rentPrice">&#36;4</td>
                </tr>
                <hr>
                <tr>
                    <td class="rentType"> House Cost </td>
                    <td class="rentPrice">&#36;4</td>
                </tr>
            </table>
            <hr>
            <table class="propertyActions">
                <tr>
                    <td class="propertyActionButtons">Buy</td>
                    <td class="propertyActionButtons">Sell</td>
                    <td class="propertyActionButtons">Mortgage</td>
                </tr>
            </table>
        </div>

    </div>
</section>
{% endblock %}